html {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 1.4rem 1.4rem 2.5rem;

  &::before {
    background-attachment: fixed;
    background: center / cover no-repeat url("/images/bg-opti.png");
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

// Most of the images on the site are taken from the game, we don't want to
// blur out the pixels.
img {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

// Replacing broken images with a more fitting MHFU icon.
img {
  color: transparent;

  &:before {
    background-image: url("/images/ukwn.png");
    background-repeat: no-repeat;
    content: ' ';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

hr {
  border: 3px solid #6E905F;
  flex: 0 0 auto;
  margin: 1.3rem 0 2.2rem 0;
  width: 100%;
}

hr.border {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAYAAADwdn+XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABVSURBVHgBxZE9DkAREIR5eQfQa3WcSOEYSoXSMRRORKfVuwGdIAqJiK/an2SzMwOtogVsIHSAq/kHDvn7xrg0LCXHrWYElSsfvD8weNBrnvEx30mhAm9sC/9lPZScAAAAAElFTkSuQmCC");
  background-repeat: repeat-x;
  background-size: 32px 16px;
  border: 0;
  height: 16px;
  // This applies to the background-image.
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  width: calc(100% + 2.8rem);
}

#weaponCrafting p {
  padding: 1.6rem 1.2rem;
}

.blacksmith__title {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  max-height: 6.4rem;
}

@media screen and (max-width: 600px) {
}