.card {
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: repeat repeat;
  border-image-slice: 20 22 17 22 fill;
  border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIcAAAA7CAYAAABR75kEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI8SURBVHgB7d1PTsJAFMfxV8NKdoSdMe64iAfAk7j0ECw9iR7Ai7AzhJ1xh9saSMDS9Ec77ZvaKd/PRvmTmUl4eW/6Cm1mZrl1l9W8HnOOWGOnuGbXOW4MEAgOSJPig/eXR2tqufqwNmLOEWvsFNfsMQeZAxLBAWmiXqhKYRfSk8fuu07MOWKNPbg1h3yuZA5IBAekiTkI2Q0PYdyYYw9lzW2PbIrIHJBk5giJ0ue39dowNIuqJ0M+VzIHJIID0v7MXudj8YfFPWVlYD7Xm4V1ROaARHBAKn9h5FRiptPp4e/8bkbJGKGv7feh7Ox2u+LTZ/FA5oBEcEC69D3EQ4k5lpc9SkzaxBGMjAGXcysh8jy/Pf6fZdmP/RPWUY+yAqk2cxR3s3ObGdJV3CKUjlIqRSsrxXQZ8p4mqTUkFbOO9igrkMqZgybYiJ19lls7NsGK59bOjlyilZViemuSUqvSoUcqDlmHSsljWkcIygokggNSL00wjx10k7RcNw/rCFMOjtOG5LRR2f59F5HNadpG2z4P2YzF7A2MdR1V2HNAon1+RUbVPk+xV1J+/9DWEYKyAon2+RVJqn3u0VL2XEfMVD2UdYSgrEAiOCANpn3eR5rso62d0jrq8FvZkeK3soiK4IDU+xWM0T+uYAx3BAcklysYvz4tOu+M4Wu52ojnuYIxHLg0wcZ+e4rUb6nRFpkDEsEByeUKxmbcADBg3NhjX5yDKxjDBcEByeWsrFFWQsaNPbbbHGQOSAQHpF/GNWF+amgBTgAAAABJRU5ErkJggg==");
  border-image-width: 20px 22px 17px 22px;
  border-style: solid;

  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  font-size: 2.6rem;
  overflow: hidden;
  padding: 2.6rem 2rem;
  position: relative;
  z-index: 1;

  &[href]::after {
    display: block;
    visibility: hidden;
    content: '';
    height: calc(100% - 16px);
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
    background: linear-gradient(0.25turn, #ffffff00, #037703d7, #ffffff00);
  }

  &[href]:focus::after,
  &[href]:hover::after {
    visibility: visible;
  }

  &--weapon-tree {
    height: 100%;
    padding: 0.8rem 0.9rem;
  }

  p {
    color: inherit;
    line-height: 1;
    margin: 0;
    position: relative;
    z-index: 10;
    white-space: nowrap;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.weapon-tree {
  height: 100%;
  overflow: auto;
  padding: 0 0 0 13px;

  &__row {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    height: 38px;
    position: relative;
    width: 100%;

    &:hover::before {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      left: calc(100% - 66.9rem + 23px);
      width: calc(66.9rem - 23px);
      height: 100%;
      z-index: 0;
      background: linear-gradient(0.25turn, #ffffff00, #037703d7, #ffffff00);
    }

    &--external {
      color: #c0c0c0;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li ul {
    padding-left: 26px;

    & > li {
      position: relative;
    }

    &:first-of-type > li::before {
      content: '';
      display: block;
      position: absolute;
      left: -13px;
      top: 0px;
      background-color: #2a3423;
      height: 19px;
      width: 3px;
      z-index: -1;
    }

    &:first-of-type > li::after {
      content: '';
      display: block;
      position: absolute;
      left: -13px;
      top: 19px;
      background-color: #2a3423;
      height: 3px;
      width: 13px;
      z-index: -1;
    }

    &.multiple-children > li:not(:last-child)::before {
      height: 100%;
    } 
  }

  a span {
    width: 26px;
    flex: 0 0 26px;
  }
}

$weapon-types: (
  "great-sword",
  "long-sword",
  "sword-and-shield",
  "dual-blades",
  "hammer",
  "hunting-horn",
  "lance",
  "gunlance",
  "light-bowgun",
  "heavy-bowgun",
  "bow",
);

$rarity-colors: (
  4: #52F152,
  5: #FD9DC8,
  6: #54F1F1,
  7: #F7A460,
  8: #F9455C,
  9: #F7C502,
  10: #BB84FB,
);

$element-types: (
  "fire",
  "thunder",
  "poison",
  "water",
  "ice",
  "sleep",
  "dragon",
  "paralysis",
);

.icon {
  display: flex;
  flex: 0 0 2.6rem;
  height: 26px;
  margin-right: 9px;
  position: relative;
  width: 26px;

  img {
    position: relative;
    height: 26px;
    width: 26px;
  }

  &--large,
  &--large img {
    width: 52px;
    height: 52px;
  }

  &--large::before {
    mask-size: 52px;
  }

  @each $value, $color in $rarity-colors {
    &--rarity-#{$value}::before {
      background: $color;
    }
  }

  @each $weapon-name in $weapon-types {
    &--#{$weapon-name}::before {
      background-blend-mode: lighten;
      background-position: 0;
      content: '';
      display: block;
      height: 100%;
      mask-mode: alpha;
      mix-blend-mode: darken;
      position: absolute;
      width: 100%;
      z-index: 100;
    }

    &--#{$weapon-name}::before {
      mask-image: url("/images/#{$weapon-name}.png");
    }
  }

  @each $element-name in $element-types {
    &--#{$element-name}::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1000;
      background-position: bottom -2px right -2px;
      background-repeat: no-repeat;
    }

    &--#{$element-name}::after {
      background-image: url("/images/#{$element-name}.png");
    }
  }
}

.weapon-card {
  flex: 1 1 50%;

  &__preview {
    flex: 1 1 50%;
    padding: 8px;

    &__container {
      height: 100%;
      overflow: hidden;
    }

    img {
      left: 50%;
      position: relative;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 38px;
    flex: 0 0 38px;
    color: white;
    text-decoration: none;

    .sharpness {
      height: 2.4rem;
      position: relative;
      padding: 6px 8px;
      display: flex;
      width: 19.6rem;
      margin-left: auto;
    }
    
    .sharpness::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/images/sharpness.png");
      background-size: cover;
      image-rendering: optimizeSpeed;
      image-rendering: pixelated;
      z-index: 10;
    }

    .sharpness:hover::after {
      background-image: url("/images/sharpness-plus.png");
    }

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
      height: auto;
    }
  }

  &__details {
    color: #EAEA4B;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    height: 100%;
    margin: 2rem 0 0;

    .stats,
    .improve-mats,
    .create-mats {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }

    .stats {
      flex-flow: column wrap;
      height: 11rem;
    }

    .stats span {
      color: white;
    }

    .stats .element {
      color: #56FBFA;
    }

    .requirements {
      display: flex;
      flex-flow: row wrap;
      gap: 32px;
      color: white;
      flex: 1 1 0%;

      .improve-mats,
      .create-mats {
        display: flex;
        flex: 1 1 0%;
      }

      span {
        color: #EAEA4B;
      }
      
      &.improve-mats .create-mats,
      &.create-mats .improve-mats {
        display: none;
      }

      &.improve-mats .weapon-card__navigation::before {
        content: 'Improve';
        display: block;
      }

      &.create-mats .weapon-card__navigation::before {
        content: 'Create';
        display: block;
      }
    }
    
    hr {
      margin: 0;
    }

    #weaponSlots {
      font-family: monospace;
    }

    span.negative {
      color: #F9455C;
    }

    span.positive {
      color: #52F152;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 9px;
    margin-top: auto;

    .next {
      transform: scaleX(-1);
    }
  }
}

$sharpness-colors: (
  1: #C3333C,
  2: #EF5A26,
  3: #FFC03C,
  4: #84C11C,
  5: #5A8AED,
  6: #F7F7F7,
  7: #DF78F6, 
);

.sharpness {
  span {
    display: inline-block;
    height: 100%;
    z-index: 1;
  }

  @each $value, $color in $sharpness-colors {
    [class*=sharp-#{$value}] {
      background-color: $color;
    }
  }
}

.weapon-navigation {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;

  @media screen and (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}