.card {
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-slice: 20 22 20 22 fill;
  border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIcAAAA+CAYAAAABIgi3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJoSURBVHgB7d1BTjJBEIbhGkLyJz87484Yd1zEA+hJXHoIl55ED+BF2BnDzugKt2MkAZvJfDQN1djTvM9GBdLdCZWqnmJsGjNr7XBN5Pmcc+Qae4hrdp1jZIBAcEAah38831/brm4eXmwfOefINfYQ1+wxB5kDEsEBaaye6EthW9KTx+47JuccucYubs0p7yuZAxLBAWlsDlJ2wyWMm3PsUta875VNiMwBSWaOlCi9e5rNDKWZ9j2Y8r6SOSARHJB+Ptk7+Fr8anpJWSnM6+xtagcic0AiOCB1bxhZl5jJZLL8eX5xRsmo0Pv8Y1l2FotF+PBGPJA5IBEckLbdh7gsMavy8oMSM2ziCkbGgMtnKynatv2/+r1pmi/7I6wjjrICKZo5wt3suZ0ZhivcInSuUnplKythukx5zS6pNSUVs479UVYgdTMHTbCKbbyXc1s1wcLP1jauXLKVlTC97ZJS+9KhRypOWYdKyTWtIwVlBRLBAekoTTCPHfQuaTk2D+tI0w2O9YZkvVGZ/96LyOZ02Kptn6dsxnL2BmpdRx/2HJBon5+QqtrnOXslTdv+W78mMlZN60hBWYFE+/yEDKp97tFSTlpTkMKjz4v5alpHDGUFEsEBqZj2ea40uVG6Yi8ejT4tk1LWkeLoHVKUIexzrC4+ur0Pygqkk8ocpdz6X9q/ICgcwVApjmBAVgQHpKMfjI/j42B8uCM4ILkcjP94Oz14ZwxfNw9v4nEOxocDlyZY7d96NPRvatoXmQMSwQHJ5WB8M75XNmHc3GNvnYOD8eGC4IDk8qmsUVZSxs09ttscZA5IBAekb1eiZU9JPLoUAAAAAElFTkSuQmCC");
  border-image-width: 20px 22px 20px 22px;
  border-style: solid;

  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  font-size: 2.6rem;
  overflow: hidden;
  padding: 2.6rem 2rem;
  position: relative;
  z-index: 1;

  &[href]::after {
    display: block;
    visibility: hidden;
    content: '';
    height: calc(100% - 16px);
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff00), color-stop(#037703d7), to(#ffffff00));
    background: -o-linear-gradient(left, #ffffff00, #037703d7, #ffffff00);
    background: linear-gradient(0.25turn, #ffffff00, #037703d7, #ffffff00);
  }

  &[href]:focus::after,
  &[href]:hover::after {
    visibility: visible;
  }

  &--weapon-tree {
    height: 100%;
    padding: 0.8rem 0.9rem;
  }

  p {
    color: inherit;
    line-height: 1;
    margin: 0;
    position: relative;
    z-index: 10;
    white-space: nowrap;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.weapon-tree {
  height: 100%;
  overflow: auto;
  padding: 0 0 0 13px;

  &__row {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    height: 38px;
    position: relative;
    width: 100%;

    &::before {
      content: '';
      display: block;
      height: 100%;
      left: calc(100% - 50vw + 2.3rem);
      position: absolute;
      top: 0;
      width: calc(50vw - 2.3rem);
      z-index: 0;
      background: transparent;

      @media screen and (max-width: 600px) {
        left: 0;
        width: 100%;
      }
    }

    &:focus::before,
    &:hover::before {
      background: -webkit-gradient(linear, left top, right top, from(#ffffff00), color-stop(#037703d7), to(#ffffff00));
      background: -o-linear-gradient(left, #ffffff00, #037703d7, #ffffff00);
      background: linear-gradient(0.25turn, #ffffff00, #037703d7, #ffffff00);
    }

    &--external {
      color: #c0c0c0;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li ul {
    padding-left: 26px;

    & > li {
      position: relative;
    }

    &:first-of-type > li::before {
      content: '';
      display: block;
      position: absolute;
      left: -16px;
      top: 0px;
      background-color: #2a3423;
      height: 19px;
      width: 3px;
      z-index: -1;
    }

    &:first-of-type > li::after {
      content: '';
      display: block;
      position: absolute;
      left: -16px;
      top: 19px;
      background-color: #2a3423;
      height: 3px;
      width: 16px;
      z-index: -1;
    }

    &.multiple-children > li:not(:last-child)::before {
      height: 100%;
    } 
  }

  a span {
    width: 26px;
    flex: 0 0 26px;
  }
}

$weapon-types: (
  "great-sword",
  "long-sword",
  "sword-and-shield",
  "dual-blades",
  "hammer",
  "hunting-horn",
  "lance",
  "gunlance",
  "light-bowgun",
  "heavy-bowgun",
  "bow",
  "decoration",
);

$decoration-colors: (
  "blue": #80C2FC,
  "cyan": #97E0EF,
  "gray": #A0A0A0,
  "green": #86BF8D,
  "orange": #FF9661,
  "pink": #EA9AA4,
  "red": #FD6960,
  "slate": #AFA0C5,
  "white": #FFFFFF,
  "yellow": #FFC762,
);

$rarity-colors: (
  4: #52F152,
  5: #FD9DC8,
  6: #83C3FC,
  7: #FF9661,
  8: #FD6960,
  9: #FFC762,
  10: #BB84FB,
);

$element-types: (
  "fire",
  "thunder",
  "poison",
  "water",
  "ice",
  "sleep",
  "dragon",
  "paralysis",
);

.icon {
  display: flex;
  flex: 0 0 2.6rem;
  height: 26px;
  margin-right: 9px;
  position: relative;
  width: 26px;

  img {
    position: relative;
    height: 26px;
    width: 26px;
  }

  &--large,
  &--large img {
    width: 52px;
    height: 52px;
  }

  &--large::before {
    -webkit-mask-size: 52px;
    mask-size: 52px;
  }

  @each $value, $color in $rarity-colors {
    &--rarity-#{$value}::before {
      background: $color;
    }
  }

  @each $value, $color in $decoration-colors {
    &--#{$value}::before {
      background: $color;
    }
  }

  @each $weapon-name in $weapon-types {
    &--#{$weapon-name}::before {
      content: '';
      display: block;
      height: 100%;
      image-rendering: optimizeSpeed;
      image-rendering: pixelated;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
      mix-blend-mode: multiply;
      position: absolute;
      width: 100%;
      z-index: 100;
    }

    &--#{$weapon-name}::before {
      -webkit-mask-image: url("/images/#{$weapon-name}.png");
      mask-image: url("/images/#{$weapon-name}.png");
    }

    &--#{$weapon-name}.icon--mini::before {
      -webkit-mask-image: url("/images/#{$weapon-name}-mini.png");
      mask-image: url("/images/#{$weapon-name}-mini.png");
    }
  }

  @each $element-name in $element-types {
    &--#{$element-name}::after {
      background-position: bottom -1px right -1px;
      background-repeat: no-repeat;
      bottom: 0;
      content: '';
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1000;
    }

    &--#{$element-name}::after {
      background-image: url("/images/#{$element-name}.png");
    }
  }
}

.weapon-card {
  flex: 1 1 50%;

  &__preview {
    flex: 1 1 30%;
    padding: 8px;
    display: none;

    &__container {
      height: 100%;
      overflow: hidden;
    }

    img {
      left: 50%;
      position: relative;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
    }

    @media screen and (min-width: 1800px) {
      display: block;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 38px;
    flex: 0 0 38px;
    color: white;
    text-decoration: none;

    .sharpness {
      height: 2.4rem;
      position: relative;
      padding: 6px 8px;
      display: flex;
      width: 19.6rem;
      margin-left: auto;
    }
    
    .sharpness::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("/images/sharpness.png");
      background-size: cover;
      image-rendering: optimizeSpeed;
      image-rendering: pixelated;
      z-index: 10;
    }

    .sharpness:focus-within::after,
    .sharpness:hover::after {
      background-image: url("/images/sharpness-plus.png");
    }

    @media screen and (max-width: 600px) {
      flex-wrap: wrap;
      height: auto;
    }
  }

  &__details {
    color: #EAEA4B;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    height: 100%;
    margin: 2rem 0 0;

    .stats,
    .improve-mats,
    .create-mats {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }

    .ammo,
    .status_ammo,
    .element_ammo,
    .misc_ammo,
    .shots {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      gap: 13px;
    }

    .shots {
      .orange {
        color: #FF9661;
      }
    }

    .coatings {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;
      flex: 1 1 0%;
      gap: 13px;

      & :first-child {
        width: 100%;
      }

      p {
        width: calc(50% - 13px);
      }
    }

    .stats {
      flex-flow: column wrap;
      height: 11rem;
    }

    .stats span {
      color: white;
    }

    .stats .element {
      color: #56FBFA;
    }

    .requirements {
      display: flex;
      flex-flow: row wrap;
      gap: 32px;
      color: white;
      flex: 1 1 0%;

      .improve-mats,
      .create-mats {
        display: flex;
        flex: 1 1 0%;
      }

      span {
        color: #EAEA4B;
      }
      
      &.improve-mats .create-mats,
      &.create-mats .improve-mats {
        display: none;
      }

      &.improve-mats .weapon-card__navigation::before {
        content: 'Improve';
        display: block;
      }

      &.create-mats .weapon-card__navigation::before {
        content: 'Create';
        display: block;
      }

      [id*=page] {
        display: none;
        flex: 1 1 0%;
      }

      // [id*=page].active {
      //   display: flex;
      // }

      &[data-weapon-page-page-value="1"] #page-1 {
        display: flex;
      }
      &[data-weapon-page-page-value="2"] #page-2 {
        display: flex;
      }
      &[data-weapon-page-page-value="3"] #page-3 {
        display: flex;
      }
    }
    
    hr {
      margin: 0;
    }

    #weaponSlots {
      font-family: monospace;
    }

    span.negative {
      color: #F9455C;
    }

    span.positive {
      color: #52F152;
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__navigation {
    align-items: center;
    align-self: flex-end;
    bottom: 4px;
    display: flex;
    gap: 9px;
    margin-top: auto;
    padding: 18px;
    position: absolute;
    right: 4px;
    z-index: 20;

    .next {
      transform: scaleX(-1);
    }
  }
}

$sharpness-colors: (
  1: #C3333C,
  2: #EF5A26,
  3: #FFC03C,
  4: #84C11C,
  5: #5A8AED,
  6: #F7F7F7,
  7: #DF78F6, 
);

.sharpness {
  span {
    display: inline-block;
    height: 100%;
    z-index: 1;

    &.sharp--plus {
      display: none;
    }
  }

  &:focus-within span,
  &:hover span {
    display: none;
  }

  &:focus-within span.sharp--plus,
  &:hover span.sharp--plus {
    display: block;
  }

  @each $value, $color in $sharpness-colors {
    [class*=sharp-#{$value}] {
      background-color: $color;
    }
  }
}

.weapon-navigation {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;

  @media screen and (max-width: 600px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}