.landing-page {

  &__menu {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 100%;
    flex: 1 1 0%;
    height: 100%;
    width: 39rem;

    .card {
      flex: 1 0 0;
    }
  }
}

.blacksmith-page {
  .card {
    width: 100%;
  }

  .blacksmith-page__table {
    flex-direction: column;

    a {
      align-items: center;
      display: flex;
      flex: 0 0 38px;
      height: 38px;

      &:hover {
        background: linear-gradient(0.25turn, #ffffff00, #037703d7, #ffffff00);
      }
    }
  }
}

.weapon-tree-page,
.weapon-details-page {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;

  #weapon_tree {
    overflow: hidden;
    flex: 1 1 0%;
    height: 100%;
    width: 100%;
  }

  #weapon_details {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  .weapon-tree-page,
  .weapon-details-page {
    flex-direction: column;

    #weapon_tree {
      flex: 1 1 60vh;
    }

    #weapon_details {
      flex: 1 1 0%;
    }
  }
}