@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}