@font-face {
  font-family: "Roboto Condensed";
  src: url(/assets/fonts/RobotoCondensed-Regular.ttf) format("ttf");
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  font-size: 1.6rem;
}