# Generated weapon pages (to avoid polluting the repository)
content/blacksmith/**/details/*.md
!content/blacksmith/**/details/_index.md

# zola build directory
public

# vim temporary files
**/.*.sw*
.swp