# Generated weapon pages (to avoid polluting the repository)
content/blacksmith/**/*.md
!content/blacksmith/**/_index.md
content/armorsmith/**/*.md
!content/armorsmith/**/_index.md
content/monsters/**/*.md
!content/monsters/**/_index.md
content/decorations/**/*.md
!content/decorations/**/_index.md

# zola build directory
public

# vim temporary files
**/.*.sw*
.swp

node_modules
packages