// The animated green gradient used for hover highlights on rows, cards, search results
@mixin green-hover-gradient {
  animation: opacity-alternate 1s ease-in-out 0s infinite alternate;
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(3, 119, 3, 0.84), rgba(0, 0, 0, 0));
}

// Pixel-perfect rendering for game sprite assets
@mixin pixelated {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

// Decorative 9-slice frame used by cards and toasts.
@mixin card-border {
  border-image-outset: 0;
  border-image-repeat: round round;
  border-image-slice: 21 22 20 22 fill;
  border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIcAAAA+CAYAAAABIgi3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJoSURBVHgB7d1BTjJBEIbhGkLyJz87484Yd1zEA+hJXHoIl55ED+BF2BnDzugKt2MkAZvJfDQN1djTvM9GBdLdCZWqnmJsGjNr7XBN5Pmcc+Qae4hrdp1jZIBAcEAah38831/brm4eXmwfOefINfYQ1+wxB5kDEsEBaaye6EthW9KTx+47JuccucYubs0p7yuZAxLBAWlsDlJ2wyWMm3PsUta875VNiMwBSWaOlCi9e5rNDKWZ9j2Y8r6SOSARHJB+Ptk7+Fr8anpJWSnM6+xtagcic0AiOCB1bxhZl5jJZLL8eX5xRsmo0Pv8Y1l2FotF+PBGPJA5IBEckLbdh7gsMavy8oMSM2ziCkbGgMtnKynatv2/+r1pmi/7I6wjjrICKZo5wt3suZ0ZhivcInSuUnplKythukx5zS6pNSUVs479UVYgdTMHTbCKbbyXc1s1wcLP1jauXLKVlTC97ZJS+9KhRypOWYdKyTWtIwVlBRLBAekoTTCPHfQuaTk2D+tI0w2O9YZkvVGZ/96LyOZ02Kptn6dsxnL2BmpdRx/2HJBon5+QqtrnOXslTdv+W78mMlZN60hBWYFE+/yEDKp97tFSTlpTkMKjz4v5alpHDGUFEsEBqZj2ea40uVG6Yi8ejT4tk1LWkeLoHVKUIexzrC4+ur0Pygqkk8ocpdz6X9q/ICgcwVApjmBAVgQHpKMfjI/j42B8uCM4ILkcjP94Oz14ZwxfNw9v4nEOxocDlyZY7d96NPRvatoXmQMSwQHJ5WB8M75XNmHc3GNvnYOD8eGC4IDk8qmsUVZSxs09ttscZA5IBAekb1eiZU9JPLoUAAAAAElFTkSuQmCC");
  border-image-width: 20px 22px 20px 22px;
  border-style: solid;
  @include pixelated;
}
