@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url("/fonts/roboto-condensed-regular.woff2") format("woff2"),
    url("/fonts/roboto-condensed-regular.woff") format("woff"),
    url("/fonts/roboto-condensed-regular.ttf") format("truetype");
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}