{% extends "base.html" %}

{% block head__extra %}
  {% set image_metadata =  get_image_metadata(path="/images/weapons/" ~ page.slug ~ ".png", allow_missing=true) %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ current_url }}">

  {% if image_metadata %}
  <meta property="og:image" content="{{ config.base_url }}images/weapons/{{ page.slug }}.png">
  <meta property="og:image:alt" content="In-game render of {{ page.title }}">
  {% else %}
  <meta property="og:image" content="/images/{{ page.extra.type }}.png">
  {% endif %}

  {% if page.extra.create_mats %}
    <meta name="description" content="{% for material in page.extra.create_mats %}{{ material }} {% endfor %}">
    <meta name="og:description" content="{% for material in page.extra.create_mats %}{{ material }} {% endfor %}">
  {% elif page.extra.improve_mats %}
    <meta name="description" content="{% for material in page.extra.improve_mats %}{{ material }} {% endfor %}">
    <meta name="og:description" content="{% for material in page.extra.improve_mats %}{{ material }} {% endfor %}">
  {% endif %}
{% endblock %}

{% block content %}
  {% set section_path = page.components | slice(start=0, end=3) | join(sep='/') %}
  {% set image_metadata =  get_image_metadata(path="/images/weapons/" ~ page.slug ~ ".png", allow_missing=true) %}

  <nav class="weapon-navigation">
    <div>
      <a href="/armorsmith/">
        <div class="icon icon--nav">
          <img src="/images/arrow.png">
        </div>
      </a>
    </div>

    {%- for armor in config.extra.armor_types %}
      {% set armor_name = armor | replace(from='-', to=' ') | capitalize -%}

      {% for rank in ["low-rank", "high-rank", "g-rank"] %}
        <div>
          <a href="/armorsmith/{{ armor }}/{{ rank }}/" title="{{ armor_name }}">
            <div class="icon icon--nav icon--large icon--{{ armor }} icon--{{ rank }} {% if armor == page.extra.type and rank == page.extra.rank %}icon--rarity-4{% endif %}">
              <img src="/images/{{ armor }}.png" alt="{{ armor_name }} icon">
            </div>
          </a>
        </div>
      {% endfor %}
    {%- endfor %}
  </nav>

  <hr class="border">

  <div class="weapon-details-page">
    <turbo-frame id="weapon_tree" src="/{{ section_path }}/" data-turbo-action="replace">
      <div class="card card--weapon-tree"></div>
    </turbo-frame>
  
    {% block weapon__details %}
      <turbo-frame id="weapon_details" data-turbo-action="replace">
        <div class="card weapon-card">
          <div class="weapon-card__header">
            <div class="
              icon
              icon--{{ page.extra.type }}
              icon--rarity-{{ page.extra.rarity }}
              {% if page.extra.color %}
              icon--{{ page.extra.color }}
              {% endif %}
              icon--large
              "
            >
              <img src="/images/{{ page.components[1] }}.png" alt="?">
            </div>

            <p id="weapon_name">
              {{ page.extra.name }}
            </p>

            <p class="hunter_type">{{ page.extra.hunter_type }}</p>

            {% if not page.extra.sex == "Male/Female" %}
              <p class="sex">{{ page.extra.sex }}</p>
            {% endif %}
          </div>

          <div class="weapon-card__details">
            <div class="stats stats--armor">
              {% if page.extra.defence %}
                <div>
                  <h3>Defense<span>:</span></h3>
                  <p>{{ page.extra.defence }}</p>
                </div>
              {% endif %}

              <div>
                <h3>Fire Res<span>:</span></h3>
                <p>{{ page.extra.fire_res }}</p>
              </div>

              <div>
                <h3>Thundr Res<span>:</span></h3>
                <p>{{ page.extra.thunder_res }}</p>
              </div>

              <div>
                <h3>Dragon Res<span>:</span></h3>
                <p>{{ page.extra.dragon_res }}</p>
              </div>

              <div>
                <h3>Water Res<span>:</span></h3>
                <p>{{ page.extra.water_res }}</p>
              </div>

              <div>
                <h3>Ice Res<span>:</span></h3>
                <p>{{ page.extra.ice_res }}</p>
              </div>

              <!-- <p>Slots: <span id="weaponSlots">{{ page.extra["slots"] }}</span></p> -->

              <!-- {% if page.extra.skills %}
                {% for skill in page.extra.skills %}
                  <p class="element">
                    {{ skill.name }} {{ skill.amount }}
                  </p>
                {% endfor %}
              {% endif %}

              {% if page.extra.bonus %}
                <p class="element">Defense {{ page.extra.bonus }}</p>
              {% endif %} -->
            </div>

            <hr>

            <div
              data-controller="weapon-page"
              data-weapon-page-page-value="1"
              class="requirements"
            >
              <div class="page active">
                {% if page.extra.improve_mats %}
                  <div class="improve_mats">
                    <p>
                      <span>Improve cost: </span>{{ page.extra.improve_cost }}z
                    </p>
  
                    {%- for material in page.extra.improve_mats %}
                      <p>{{ material }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
  
                {%- if page.extra.create_mats %}
                  <div class="create_mats">
                    <p>
                      <span>Create cost: </span>{{ page.extra.create_cost }}z
                    </p>
    
                    {% for material in page.extra.create_mats %}
                      <div class="material">
                        <div class="icon icon--{{ material.type }} icon--{{ material.color }}">
                          <img src="/images/{{ material.type }}.png">
                        </div>
                        <p>{{ material.name }}: {{ material.amount }}</p>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              {% if page.extra.slots or page.extra.skills or page.extra.bonus %}
                <div class="page">
                  <div class="skills">
                    <h2><span>[Skill Tree:Skill Points]</span></h2>
                      {% if page.extra.skills %}
                        {% for skill in page.extra.skills %}
                          <div>
                            <h3>{{ skill.name }}<span>:</span></h3>
                            <p>
                              {% if skill.amount is starting_with('-') or skill.amount is starting_with('+') %}
                                {{ skill.amount }}
                              {% else %}
                                +{{ skill.amount }}
                              {% endif %}
                            </p>
                          </div>
                        {% endfor %}
                      {% else %}
                        <p>No Skill Effects</p>
                      {% endif %}
                    </div>

                  <!-- {% if page.extra.slots %}
                  <div>
                    <h3>Slots:</h3>
                    <p><span id="weaponSlots">{{ page.extra.slots }}</span></p>
                  </div>
                  {% endif %} -->

                  {% if page.extra.alternative_create_mats %}
                    <div class="create_mats">
                      <p>
                        <span>Create cost: </span>{{ page.extra.create_cost }}z
                      </p>
      
                      {% for material in page.extra.alternative_create_mats %}
                        <p>{{ material }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}

              <div class="weapon-card__navigation" data-action="click->weapon-page#toggle">
                <img src="/images/arrow.png" alt="Next page" class="next" draggable="false">
              </div>
            </div>
          </div>
        </div>

        {% if image_metadata %}
          <div data-controller="image-position" class="card weapon-card__preview" id="weapon_preview">
            <div class="weapon-card__preview__container">
              <img
                draggable="false"
                src="/images/weapons/{{ page.slug }}.png"
                alt="In-game render of weapon"
                data-controller="image-zoom"
                data-image-position-target="image"
                data-action="wheel->image-zoom#zoom"
              >
            </div>
          </div>
        {% endif %}
      </turbo-frame>
    {% endblock weapon__details %}
  </div>
{% endblock content %}
