<!DOCTYPE html>
<html>
<head>
  {%- if page and page.title %}
    <title>MHFU - {{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
  {%- elif section and section.title %}
    <title>MHFU - {{ section.title }}</title>
    <meta property="og:title" content="MHFU - {{ section.title }}" />
    <meta name="description" content="{{ section.description }}">
    <meta name="og:description" content="{{ section.description }}">
    <meta property="og:image" content="/images/favicons/{{ section.extra.type }}-favicon.png">
  {% else %}
    <title>MHFU - Blacksmith</title>
    <meta property="og:title" content="MHFU - Blacksmith" />
    <meta name="description" content="Monster Hunter Freedom Unite weapon trees">
    <meta name="og:description" content="Monster Hunter Freedom Unite weapon trees">
    <meta property="og:image" content="/images/favicons/felyne-favicon.png">
  {%- endif %}

  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% if page %}
  {% set favicon_name = page.extra.type | default(value="felyne") %}
  {% else %}
  {% set favicon_name = section.extra.type | default(value="felyne") %}
  {% endif %}
  <link rel="icon" type="image/png" href="/images/favicons/{{ favicon_name }}-favicon.png">
  <meta name="theme-color" content="#22281c">
  <meta property="og:site_name" content="MHFU - Blacksmith" />

  {%- block head__extra -%}{%- endblock head__extra -%}

  <link rel="stylesheet" href="/style.css">
  <script src="/vendor/javascript/turbo.js" type="module"></script>

  {% if get_env(name="TERA_PRODUCTION", default="") != "" %}
    <script
      data-goatcounter="https://mhfu-blacksmith.goatcounter.com/count"
      src="//gc.zgo.at/count.js"
      async
    ></script>
  {% endif %}
</head>
<body {% block body__attr -%}{% endblock body__attr -%}>
  {% block content -%}{% endblock content -%}

  <script type="module">
    import { Application, Controller } from "/vendor/javascript/stimulus.js"
    if (!window.Stimulus) {
      window.Stimulus = Application.start()
    }

    // TODO: Improve this hacky zoom.
    Stimulus.register("image-zoom", class extends Controller {
      zoom(event) {
        // Prevent the browser from scrolling if there is overflow.
        event.preventDefault()

        if (event.deltaY < 0) {
          this.element.style.width = `${Math.min(Math.max(this.element.offsetWidth + 35, 220), 950)}px`
        } else if (event.deltaY > 0) {
          this.element.style.width = `${Math.min(Math.max(this.element.offsetWidth - 35, 220), 950)}px`
        }
      }
    })
    
    // TODO: Fix this hacky repositioning logic.
    Stimulus.register("image-position", class extends Controller {
      static targets = ["image"]

      initialize() {
        this.boundHandleMouseDown = this.handleMouseDown.bind(this)
        this.boundHandleMouseMove = this.handleMouseMove.bind(this)
        this.boundHandleMouseUp = this.handleMouseUp.bind(this)

        this.pos1, this.pos2, this.pos3, this.pos4 = 0
      }

      connect() {
        this.imageTarget.addEventListener("mousedown", this.boundHandleMouseDown)
        this.imageTarget.addEventListener("touchstart", this.boundHandleMouseDown)
        document.addEventListener("mouseup", this.boundHandleMouseUp)
        document.addEventListener("touchend", this.boundHandleMouseUp)
        document.addEventListener("mousemove", this.boundHandleMouseMove)
        document.addEventListener("touchmove", this.boundHandleMouseMove)
      }

      disconnect() {
        this.imageTarget.removeEventListener("mousedown", this.boundHandleMouseDown)
        this.imageTarget.removeEventListener("touchstart", this.boundHandleMouseDown)
        document.removeEventListener("mouseup", this.boundHandleMouseUp)
        document.removeEventListener("touchend", this.boundHandleMouseUp)
        document.removeEventListener("mousemove", this.boundHandleMouseMove)
        document.removeEventListener("touchmove", this.boundHandleMouseMove)
      }

      handleMouseDown() {
        this.imageTarget.classList.add("dragging")
        this.pos3 = event.clientX;
        this.pos4 = event.clientY;
      }

      handleMouseMove(event) {
        if (event.touches) {
          this.pos1 = this.pos3 - event.touches[0].clientX;
          this.pos2 = this.pos4 - event.touches[0].clientY;
          this.pos3 = event.touches[0].clientX;
          this.pos4 = event.touches[0].clientY;
        } else {
          this.pos1 = this.pos3 - event.clientX;
          this.pos2 = this.pos4 - event.clientY;
          this.pos3 = event.clientX;
          this.pos4 = event.clientY;
        }

        if (this.imageTarget.classList.contains("dragging")) {     
          this.imageTarget.style.left = `${this.imageTarget.offsetLeft - 8 - this.pos1}px`
          this.imageTarget.style.top = `${this.imageTarget.offsetTop - 8 - this.pos2}px`
        }
      }

      handleMouseUp() {
        this.imageTarget.classList.remove("dragging")
      }
    })

    Stimulus.register("weapon-page", class extends Controller {
      static values = {
        page: Number
      }

      initialize() {
        this.pages = []
      }

      connect() {
        this.pages = Array.from(this.element.querySelectorAll("[id*=page]"));

        if (this.pages.length == 1) {
          this.element.querySelector(".weapon-card__navigation").style.display = "none"
        } else {
          document.addEventListener("keyup", (event) => {
            if (event.code == "ArrowRight" || event.code == "KeyD") {
              this.toggle()
            }
          })
        }
      }

      toggle(event) {
        event.preventDefault()

        if (this.pageValue < this.pages.length) {
          this.pageValue = this.pageValue + 1
        } else {
          this.pageValue = 1
        }
      }
    })
  </script>

  {% if get_env(name="TERA_DEBUG", default="") != "" -%}
    {{ __tera_context }}

    <script>
      if (window.Stimulus) {
        Stimulus.debug = true
      }
    </script>
  {% endif -%}

  <script id="console-info" data-turbo-permanent="">
    console.log(
			"%cIf you're looking for the weapon data, you can find everything here: https://github.com/vallode/mhfu-blacksmith",
			`
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: repeat repeat;
        border-image-slice: 20 22 17 22 fill;
        border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIcAAAA7CAYAAABR75kEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI8SURBVHgB7d1PTsJAFMfxV8NKdoSdMe64iAfAk7j0ECw9iR7Ai7AzhJ1xh9saSMDS9Ec77ZvaKd/PRvmTmUl4eW/6Cm1mZrl1l9W8HnOOWGOnuGbXOW4MEAgOSJPig/eXR2tqufqwNmLOEWvsFNfsMQeZAxLBAWmiXqhKYRfSk8fuu07MOWKNPbg1h3yuZA5IBAekiTkI2Q0PYdyYYw9lzW2PbIrIHJBk5giJ0ue39dowNIuqJ0M+VzIHJIID0v7MXudj8YfFPWVlYD7Xm4V1ROaARHBAKn9h5FRiptPp4e/8bkbJGKGv7feh7Ox2u+LTZ/FA5oBEcEC69D3EQ4k5lpc9SkzaxBGMjAGXcysh8jy/Pf6fZdmP/RPWUY+yAqk2cxR3s3ObGdJV3CKUjlIqRSsrxXQZ8p4mqTUkFbOO9igrkMqZgybYiJ19lls7NsGK59bOjlyilZViemuSUqvSoUcqDlmHSsljWkcIygokggNSL00wjx10k7RcNw/rCFMOjtOG5LRR2f59F5HNadpG2z4P2YzF7A2MdR1V2HNAon1+RUbVPk+xV1J+/9DWEYKyAon2+RVJqn3u0VL2XEfMVD2UdYSgrEAiOCANpn3eR5rso62d0jrq8FvZkeK3soiK4IDU+xWM0T+uYAx3BAcklysYvz4tOu+M4Wu52ojnuYIxHLg0wcZ+e4rUb6nRFpkDEsEByeUKxmbcADBg3NhjX5yDKxjDBcEByeWsrFFWQsaNPbbbHGQOSAQHpF/GNWF+amgBTgAAAABJRU5ErkJggg==");
        border-image-width: 20px 22px 17px 22px;
        border-radius: 7px;
        border-style: solid;
        color: white;
        display: inline-block;
        padding: 2.6rem 2rem;
      `
		);
  </script>

  {% block scripts -%}{% endblock scripts -%}
</body>
</html>
