<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  {% include "head.html" %}

  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">

  {%- block head__extra -%}{%- endblock head__extra -%}

  <link rel="stylesheet" href="/style.css">
  <script src="/vendor/javascript/turbo.js" type="module"></script>
  <script src="/javascript/main.js" type="module" defer></script>

  {% if get_env(name="TERA_PRODUCTION", default="") != "" %}
    <script
      data-goatcounter="https://mhfu-blacksmith.goatcounter.com/count"
      src="//gc.zgo.at/count.js"
      async
    ></script>
  {% endif %}
</head>
<body {% block body__attr -%}{% endblock body__attr -%}>
  {% block content %}{% endblock content %}

  {% if get_env(name="TERA_DEBUG", default="") != "" -%}
    {{ __tera_context }}

    <script>
      if (window.Stimulus) {
        Stimulus.debug = true
      }
    </script>
  {% endif -%}

  <script id="console-info" data-turbo-permanent="">
    console.log(
			"%cIf you're looking for the weapon data, you can find everything here: https://github.com/vallode/mhfu-blacksmith",
			`
        border-image-outset: 0px 0px 0px 0px;
        border-image-repeat: repeat repeat;
        border-image-slice: 20 22 17 22 fill;
        border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIcAAAA7CAYAAABR75kEAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAI8SURBVHgB7d1PTsJAFMfxV8NKdoSdMe64iAfAk7j0ECw9iR7Ai7AzhJ1xh9saSMDS9Ec77ZvaKd/PRvmTmUl4eW/6Cm1mZrl1l9W8HnOOWGOnuGbXOW4MEAgOSJPig/eXR2tqufqwNmLOEWvsFNfsMQeZAxLBAWmiXqhKYRfSk8fuu07MOWKNPbg1h3yuZA5IBAekiTkI2Q0PYdyYYw9lzW2PbIrIHJBk5giJ0ue39dowNIuqJ0M+VzIHJIID0v7MXudj8YfFPWVlYD7Xm4V1ROaARHBAKn9h5FRiptPp4e/8bkbJGKGv7feh7Ox2u+LTZ/FA5oBEcEC69D3EQ4k5lpc9SkzaxBGMjAGXcysh8jy/Pf6fZdmP/RPWUY+yAqk2cxR3s3ObGdJV3CKUjlIqRSsrxXQZ8p4mqTUkFbOO9igrkMqZgybYiJ19lls7NsGK59bOjlyilZViemuSUqvSoUcqDlmHSsljWkcIygokggNSL00wjx10k7RcNw/rCFMOjtOG5LRR2f59F5HNadpG2z4P2YzF7A2MdR1V2HNAon1+RUbVPk+xV1J+/9DWEYKyAon2+RVJqn3u0VL2XEfMVD2UdYSgrEAiOCANpn3eR5rso62d0jrq8FvZkeK3soiK4IDU+xWM0T+uYAx3BAcklysYvz4tOu+M4Wu52ojnuYIxHLg0wcZ+e4rUb6nRFpkDEsEByeUKxmbcADBg3NhjX5yDKxjDBcEByeWsrFFWQsaNPbbbHGQOSAQHpF/GNWF+amgBTgAAAABJRU5ErkJggg==");
        border-image-width: 20px 22px 17px 22px;
        border-radius: 7px;
        border-style: solid;
        color: white;
        display: inline-block;
        padding: 2.6rem 2rem;
      `
		);
  </script>

  {% block scripts %}{% endblock scripts %}
</body>
</html>
