{% if page.title %}
  {% set title = page.title %}
{% elif section.title %}
  {% set title = section.title %}
{% else %}
  {% set title = "Blacksmith" %}
{% endif %}

<title>{{ title }} | MFHU</title>
<meta property="og:title" content="{{ title }}">

{% if section %}
  <meta name="description" content="{{ section.description }}">
  <meta name="og:description" content="{{ section.description }}">
  <meta property="og:image" content="/images/favicons/{{ section.extra.type }}-favicon.png">
{% else %}
  <meta name="description" content="Monster Hunter Freedom Unite weapon trees">
  <meta name="og:description" content="Monster Hunter Freedom Unite weapon trees">
  <meta property="og:image" content="/images/favicons/felyne-favicon.png">
{% endif %}

{% if page %}
  {% set favicon_name = page.extra.type | default(value="felyne") %}
{% else %}
  {% set favicon_name = section.extra.type | default(value="felyne") %}
{% endif %}

<link rel="icon" type="image/png" href="/images/favicons/{{ favicon_name }}-favicon.png">
<meta name="theme-color" content="#22281c">
<meta property="og:site_name" content="MHFU Blacksmith">