{% if page.title %}
  {% set title = page.title ~ " | MHFU" %}
{% elif section.title %}
  {% set title = section.title ~ " | MHFU" %}
{% else %}
  {% set title = config.title %}
{% endif %}

<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}">

{% if page.extra.description %}
  {% set description = page.extra.description %}
{% elif section.description %}
  {% set description = section.description %}
{% else %}
  {% set description = config.description %}
{% endif %}

<meta name="description" content="{{ description }}">
<meta name="og:description" content="{{ description }}">

{% if section.extra.type %}
  {% set type = section.extra.type %}
{% elif page.path and page.path is containing("/monsters/") %}
  {% set type = false %}
{% elif page.extra.type %}
  {% set type = page.extra.type %}
{% else %}
  {% set type = "felyne" %}
{% endif %}

{% if type %}
  <meta property="og:image" content="/images/favicons/{{ type }}-favicon.png">
  <link rel="icon" type="image/png" href="/images/favicons/{{ type }}-favicon.png">
  <link rel="apple-touch-icon" href="/images/favicons/{{ type }}-favicon.png">
{% endif %}

<meta name="theme-color" content="#22281c">
<meta property="og:site_name" content="MHFU Blacksmith">