{% if page.title %}
  {% set title = page.title %}
{% elif section.title %}
  {% set title = section.title %}
{% else %}
  {% set title = "Blacksmith" %}
{% endif %}

<title>{{ title }} | MFHU</title>
<meta property="og:title" content="{{ title }}">

{% if page.extra.description %}
  {% set description = page.extra.description %}
{% elif section.description %}
  {% set description = section.description %}
{% else %}
  {% set description = "Monster Hunter Freedom Unite knowledge base" %}
{% endif %}

<meta name="description" content="{{ description }}">
<meta name="og:description" content="{{ description }}">
<meta property="og:image" content="/images/favicons/felyne-favicon.png">

{% if page.extra.type %}
  {% set type = page.extra.type %}
{% elif section.extra.type %}
  {% set type = section.extra.type %}
{% else %}
  {% set type = "felyne" %}
{% endif %}

{% if type %}
  <meta property="og:image" content="/images/favicons/{{ type }}-favicon.png">
  <link rel="icon" type="image/png" href="/images/favicons/{{ type }}-favicon.png">
{% endif %}

<meta name="theme-color" content="#22281c">
<meta property="og:site_name" content="MHFU Blacksmith">