{% extends "base.html" %}

{% block body__attr %}
  class="landing-page"
{% endblock body__attr %}

{% block content %}
  <img class="blacksmith__title" src="/images/blacksmith.png" height="48" alt="Blacksmith">

  <hr class="border">

  <div class="landing-page__menu-wrapper">
    <div class="landing-page__menu">
      <a class="card" href="/blacksmith/">
        <p>1 Blacksmith</p>
        <p>WEAPON TREES</p>
      </a>
      <a class="card">
        <p>2 NO DATA</p>
      </a>
      <a class="card" href="https://github.com/vallode/mhfu-blacksmith/">
        <p>3 Github</p>
        <p>SOURCE CODE</p>
      </a>
    </div>

    <div class="card landing-page__footnotes">
      <p>Check out <a class="link" href="https://hunstermonter.net/" rel="noopener">HunsterVerse</a> for online play, and more information.</p>
    </div>
  </div>
{% endblock content %}