{% extends "base.html" %}

{% block body__attr %}
  class="landing-page"
{% endblock body__attr %}

{% block head__extra %}
<meta name="google-site-verification" content="vpr1qEiroZBHdcIDLWOYmKYWXAWVL2dUdv3qWOplsPs"/>
{% endblock %}

{% block content %}
  <img class="blacksmith__title" src="/images/blacksmith.png" alt="Blacksmith">

  <hr class="border">

  <div class="landing-page__menu-wrapper">
    <div class="landing-page__menu">
      <ul>
        <li class="disabled">New Game</li>
        <li><a href="/smithy">Smithy</a></li>
        <li class="disabled">Calculator</li>
        <li class="disabled">Options</li>
        <li class="disabled">Download</li>
        <li><a href="//github.com/vallode/mhfu-blacksmith">Source Code</a></li>
      </ul>
    </div>
  </div>
{% endblock content %}