{% extends "base.html" %}

{% block body__attr %}
  class="landing-page"
{% endblock body__attr %}

{% block content %}
  <img class="blacksmith__title" src="/images/blacksmith.png" height="48" alt="Blacksmith">

  <hr class="border">

  <div class="landing-page__menu">
    <a class="card" href="/blacksmith/" tabindex="0">
      <p>1 Blacksmith</p>
      <p>WEAPON TREES</p>
    </a>
    <a class="card">
      <p>2 NO DATA</p>
    </a>
    <a class="card">
      <p>3 NO DATA</p>
    </a>
  </div>
{% endblock content %}