{% macro weapon_tree_row(weapon) %}
<li>
  <a
    id="{{ weapon.slug }}"
    {% if weapon.type != section.extra.type %}
    class="weapon-tree__row weapon-tree__row--external"
    data-turbo-frame="_top"
    {% else %}
    class="weapon-tree__row" 
    {% endif %}
    {% if weapon.rarity %}
    href="/blacksmith/{{ weapon.type }}/{{ weapon.slug }}/"
    data-turbo-frame="weapon_details"
    {% endif %}
  >
    {% if weapon.rarity %}
      <div class="
        icon
        icon--{{ weapon.type }}
        icon--rarity-{{ weapon.rarity }}
        {% if weapon.element -%}
          icon--{{ weapon.element }}
        {%- endif -%}
        "
      >
        <img src="/images/{{ weapon.type }}.png" alt="?">
      </div>
    {% else %}
      <div class="icon icon--ukwn">
        <img src="/images/ukwn.png" alt="?">
      </div>
    {% endif %}
    <p class="name">{{ weapon.name }}</p>
  </a>
  
  {% if weapon.children %}
  <ul {% if weapon.children | length > 1 %}class="multiple-children"{% endif %}>
    {% for child_weapon in weapon.children %}
      {{ self::weapon_tree_row(weapon=child_weapon) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endmacro input %}
