{% extends "base.html" %}

{% block head__extra %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ current_url }}">

  <link rel="icon" type="image/png" href="/images/favicons/{{ page.extra.type }}-favicon.png">
  <link rel="apple-touch-icon" href="/images/favicons/{{ page.extra.type }}-favicon.png">

  <meta property="og:image" content="{{ config.base_url }}images/monsters/{{ page.extra.icon | default(value=page.slug) }}-favicon.png">
  <meta property="og:image:alt" content="Pixel art representation of {{ page.title }}">

  <meta name="description" content="{{ page.extra.description | default(value='') }}">
  <meta name="og:description" content="{{ page.extra.description | default(value='') }}">
{% endblock %}

{% block content %}
  {% set section_path = page.components | slice(start=0, end=2) | join(sep='/') %}
  {% set image_metadata =  get_image_metadata(path="/images/weapons/" ~ page.slug ~ ".png", allow_missing=true) %}

  <nav class="weapon-navigation">
    <div>
      <a href="/monsters/">
        <div class="icon icon--nav">
          <img src="/images/arrow.png">
        </div>
      </a>
    </div>

    {% for monster_type in config.extra.monster_types %}
      {% set monster_name = monster_type | replace(from='-', to=' ') | capitalize %}

      <div>
        <a href="/monsters/{{ monster_type }}/" title="{{ monster_name }}">
          <div class="icon icon--nav icon--monster icon--large icon--{{ monster_type }} {% if monster_type == page.extra.type %}active{% endif %}">
            <img src="/images/monsters/{{ monster_type }}.png" alt="{{ monster_name }}">
          </div>
        </a>
      </div>
    {% endfor %}
  </nav>

  <hr class="border">

  <div class="weapon-details-page">
    <turbo-frame id="monster_list" src="/{{ section_path }}/" data-turbo-action="replace">
      <div class="card card--weapon-tree"></div>
    </turbo-frame>
  
    {% block weapon__details %}
      <turbo-frame id="weapon_details" data-turbo-action="replace">
        <div class="card weapon-card">
          <div class="weapon-card__header weapon-card__header--monster">
            <div class="details">
              <p>
                Name : <span id="weapon_name">{{ page.title }}</span>
              </p>
     
              <p>
                Type : <span>{{ page.extra.type | replace(from="-", to=" ") | capitalize  }}</span>
              </p>

              {% if page.extra.sizes %}
                <p>Longest : <span>{{ page.extra.sizes.max  }}</span><img src="/images/max.png" alt=""></p>
                <p>Shortest : <span>{{ page.extra.sizes.min }}</span><img src="/images/min.png" alt=""></p>
              {% endif %}
            </div>

            <div class="icon icon--large">
              <img src="/images/monsters/{{ page.extra.icon | default(value=page.slug) }}.png" alt="?">
            </div>
          </div>

          <div class="weapon-card__details">
            <hr>

            <div
              data-controller="weapon-page"
              data-weapon-page-page-value="1"
              class="requirements requirements--monster"
            >
              {% if page.extra.hitzones %}
                <div class="page active">
                  <div class="card">
                    <table class="monster-hz">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Cut</th>
                              <th>Bash</th>
                              <th>Shot</th>
                              <th><div class="icon"><img src="/images/fire.png"></div></th>
                              <th><div class="icon"><img src="/images/water.png"></div></th>
                              <th><div class="icon"><img src="/images/thunder.png"></div></th>
                              <th><div class="icon"><img src="/images/ice.png"></div></th>
                              <th><div class="icon"><img src="/images/dragon.png"></div></th>
                              <th><div class="icon"><img src="/images/ko.png"></div></th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for key, value in page.extra.hitzones %}
                          <tr>
                            <td>{{ key | capitalize }}</td>
                            <td>{{ value["cut"] }}</td>
                            <td>{{ value["bash"] }}</td>
                            <td>{{ value["shot"] }}</td>
                            <td>{{ value["fir"] }}</td>
                            <td>{{ value["wtr"] }}</td>
                            <td>{{ value["thn"] }}</td>
                            <td>{{ value["ice"] }}</td>
                            <td>{{ value["drg"] }}</td>
                            <td>{{ value["ko"] }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              {% endif %}

              <div class="page">
                <div class="card locations">
                  <p>Known Habitats</p>

                  <div class="list">
                    <div>
                      <div class="icon icon--large">
                        <img src="/images/swamp.png" alt="">
                      </div>
                      <p>Swamp</p>
                    </div>

                    <div>
                      <div class="icon icon--large">
                        <img src="/images/desert.png" alt="">
                      </div>
                      <p>Desert</p>
                    </div>

                    <div>
                      <div class="icon icon--large">
                        <img src="/images/old_swamp.png" alt="">
                      </div>
                      <p>Old Swamp</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="page">
                <p class="description">
                  {% if page.extra.description %}
                    {{ page.extra.description }}
                  {% endif %}
                </p>
              </div>

              <div class="weapon-card__navigation" data-action="click->weapon-page#toggle">
                <img src="/images/arrow.png" alt="Next page" class="next" draggable="false">
              </div>
            </div>
          </div>
        </div>

        {% if image_metadata %}
          <div data-controller="image-position" class="card weapon-card__preview" id="weapon_preview">
            <div class="weapon-card__preview__container">
              <img
                draggable="false"
                src="/images/weapons/{{ page.slug }}.png"
                alt="In-game render of weapon"
                data-controller="image-zoom"
                data-image-position-target="image"
                data-action="wheel->image-zoom#zoom"
              >
            </div>
          </div>
        {% endif %}
      </turbo-frame>
    {% endblock weapon__details %}
  </div>
{% endblock content %}
