{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content -%}
  <nav class="weapon-navigation">
    {% block navigation %}
      {% for monster_type in config.extra.monster_types %}
        {% set monster_name = monster_type | replace(from='-', to=' ') | capitalize %}

        <div>
          <a href="/monsters/{{ monster_type }}/" title="{{ monster_name }}">
            <div class="icon icon--nav icon--monster icon--large icon--{{ monster_type }} {% if monster_type == section.extra.type %}active{% endif %}">
              <img src="/images/monsters/{{ monster_type }}.png" alt="{{ monster_name }}">
            </div>
          </a>
        </div>
      {% endfor %}
    {% endblock %}
  </nav>

  <hr class="border">

  <div class="weapon-tree-page">
    <turbo-frame id="weapon_tree" data-turbo-action="replace">
      <div class="card card--weapon-tree">
        <div class="weapon-tree">
          <ul>
            {% for page in section.pages %}
              <li>
                <a
                  href="{{ page.path }}"
                  class="weapon-tree__row"
                  data-turbo-frame="weapon_details" 
                >
                  <div class="icon icon--mini">
                    <img src="/images/monsters/{{ page.extra.icon | default(value=page.slug) }}.png" alt="?">
                  </div>
  
                  <p class="name">{{ page.title }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </turbo-frame>
  
    {% block weapon__details -%}
      <turbo-frame id="weapon_details" data-turbo-action="replace">
        <div class="card weapon-card" id="weaponDetails">
          <p>1 NO WEAPON SELECTED</p>
        </div>
      </turbo-frame>
    {% endblock weapon__details -%}
  </div>
{% endblock content -%}
