{% extends "base.html" %}

{% block head__extra %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ current_url }}" />
  <meta
    property="og:image"
    content="/images/weapons/{{ page.slug }}.png"
  />
  {% if page.extra["create-mats"] %}
    <meta name="description" content="{% for material in page.extra['create-mats'] %}{{ material }} {% endfor %}">
    <meta name="og:description" content="{% for material in page.extra['create-mats'] %}{{ material }} {% endfor %}">
  {% elif page.extra["improve-mats"] %}
    <meta name="description" content="{% for material in page.extra['improve-mats'] %}{{ material }} {% endfor %}">
    <meta name="og:description" content="{% for material in page.extra['improve-mats'] %}{{ material }} {% endfor %}">
  {% endif %}
{% endblock %}

{% block content -%}
  <nav class="weapon-navigation">
    {%- for weapon_type in config.extra.weapon_types %}
      <a class="row" href="/blacksmith/{{ weapon_type }}/">
        <div class="icon icon--{{ weapon_type }} icon--large {% if weapon_type == page.extra['type'] %}icon--rarity-6{% endif %}"><img src="/images/{{ weapon_type }}.png" alt=""></div>
      </a>
    {%- endfor %}
  </nav>

  <hr class="border">

  <div class="weapon-details-page">
    <turbo-frame id="weapon_tree" src="/blacksmith/{{ page.extra['type'] }}" data-turbo-action="replace">
      <div class="card card--weapon-tree"></div>
    </turbo-frame>
  
    {% block weapon__details -%}
      <turbo-frame id="weapon_details" data-turbo-action="replace">
        <div class="card weapon-card">
          <div class="weapon-card__header">
            <div class="icon icon--{{ page.extra['type'] }} icon--rarity-{{ page.extra['rarity'] }} icon--large">
              <img src="/images/{{ page.components[1] }}.png" alt="?">
            </div>

            <p id="weapon_name">
              {{ page.extra.name }}
            </p>
            
            {% if page.extra.sharpness %}
            <div class="sharpness">
              {% for sharp in page.extra.sharpness | split(pat=".") %}
                <span class="sharp-{{ loop.index }}" style="width: {{ sharp | int * 4 }}px;"></span>
              {% endfor %}

              {% if page.extra.sharpness_plus %}
                {% for sharp in page.extra.sharpness_plus | split(pat=".") %}
                  <span class="sharp-{{ loop.index }} sharp--plus" style="width: {{ sharp | int * 4 }}px;"></span>
                {% endfor %}
              {% endif %}
            </div>
            {% endif %}
          </div>

          <div class="weapon-card__details">
            <div class="stats">
              {% if page.extra.attack %}
                <p>Attack: <span>{{ page.extra.attack }}</span></p>
              {% endif %}

              {% if page.extra.max_attack %}
                <p>Max attack: <span>{{ page.extra.max_attack }}</span></p>
              {% endif %}

              {% if page.extra.affinity %}
                <p>
                  Affinity:
                  <span
                    class="
                    {% if page.extra.affinity is starting_with('-') %}
                      negative
                    {% elif page.extra.affinity is not starting_with('0')%}
                      positive
                    {% endif %}
                    "
                  >
                    {{ page.extra.affinity }}
                  </span>
                </p>
              {% endif %}

              <p>Slots: <span id="weaponSlots">{{ page.extra["slots"] }}</span></p>

              {% if page.extra.element -%}
                {% for element in page.extra.element %}
                  <p class="element">
                    {{ element.name }} Attrib: {{ element.attack }}
                  </p>
                {% endfor %}
              {% endif -%}

              {% if page.extra.skills %}
                {% for skill in page.extra.skills %}
                  <p class="element">
                    {{ skill }}
                  </p>
                {% endfor %}
              {% endif %}
            </div>

            <hr>

            <div
              data-controller="weapon-page"
              class="requirements"
            >
              {% if page.extra.improve_mats %}
                <div class="improve-mats">
                  <p id="weapon_cost">
                    <span>Improve cost: </span>{{ page.extra.improve_cost }}z
                  </p>

                  {%- for material in page.extra.improve_mats -%}
                    <p>{{ material }}</p>
                    {% endfor %}
                </div>
              {% endif %}

              {%- if page.extra.create_mats %}
                <div class="create-mats">
                  <p id="weapon_cost">
                    <span>Create cost: </span>{{ page.extra.create_cost }}z
                  </p>
  
                  {% for material in page.extra.create_mats -%}
                    <p>{{ material }}</p>
                  {% endfor -%}
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- <div data-controller="image-position" class="card weapon-card__preview" id="weapon_preview">
          <div class="weapon-card__preview__container">
            <img
              draggable="false"
              src="/images/weapons/{{ page.slug }}.png"
              alt=""
              data-controller="image-zoom"
              data-image-position-target="image"
              data-action="wheel->image-zoom#zoom"
            >
          </div>
        </div> -->
      </turbo-frame>
    {% endblock weapon__details -%}
  </div>
{% endblock content -%}

{%- block scripts -%}
<script>
  /**
   * Every time turbo loads a weapon we want to change the title to the weapon's
   * name, this reflects in the user browsing history.
   */
  window.addEventListener("turbo:render", (event) => {
    if (event.srcElement.querySelector("#weapon_name")) {
      document.title = `MHFU - ${event.srcElement.querySelector("#weapon_name").innerText}`
    }
  })

  // TODO: Fix for properly avoiding subsequent turbo frame loads.
  window.addEventListener("turbo:frame-load", (event) => {
    const components = window.location.pathname.split("/")
    const weaponId = components.pop() || components.pop()

    if (event.srcElement.querySelector(`[id='${weaponId}']`)) {
      event.srcElement.querySelector(`[id='${weaponId}']`).scrollIntoView({
        behavior: "smooth",
        block: "center",
        inline: "center"
      })
    }
  })
</script>
{%- endblock scripts %}