{% extends "base-tree.html" %}

{% block navigation %}
  <div>
    <a href="/blacksmith/">
      <div class="icon icon--nav">
        <img src="/images/arrow.png">
      </div>
    </a>
  </div>

  {%- for weapon_type in config.extra.weapon_types %}
    {% set weapon_name = weapon_type | replace(from='-', to=' ') | capitalize -%}

    <div>
      <a href="/blacksmith/{{ weapon_type }}/" title="{{ weapon_name }}">
        <div class="icon icon--nav icon--large icon--{{ weapon_type }} {% if weapon_type == section.extra.type %}icon--rarity-4{% endif %}">
          <img src="/images/{{ weapon_type }}.png" alt="{{ weapon_name }}">
        </div>
      </a>
    </div>
  {%- endfor %}
{% endblock%}